{% macro salaChat(sala, mensajes=[]) %}

<ul id="lista-mensajes-{{ sala }}" class="
    [&_li]:mt-1
    [&_li]:bg-white
    [&_li]:bg-opacity-60
    [&_li]:p-1
    [&_time]:text-right
    [&_li]:grid [&_li]:grid-rows-2 [&_.autor]:text-xs [&_.autor]:text-xs [&_.autor]:grid [&_.autor]:grid-cols-2">
    {% for mensaje in mensajes %}
    <!--<li>{{ mensaje.get_fecha_bonita() }} - {{ mensaje.usuario }}: {{ mensaje.mensaje }}</li>-->
    <li>
        <div class="autor"><span>{{ mensaje.usuario }}</span><time>{{ mensaje.get_fecha_bonita() }}</time></div><span>{{
            mensaje.mensaje
            }}</span>
    </li>
    {% endfor %}
</ul>
<div class="grid grid-cols-[1fr_auto] gap-2">
    <input id="txt-mensaje-{{ sala }}" type="text" placeholder="Envía un mensaje" />
    <button id="btn-enviar-{{ sala }}">Enviar</button>
</div>
<script type="module">
    import { io } from '/static/socket.io.esm.min.js'

    const socket = io()
    socket.on('connect', () => {
        console.log('Conectado al servidor')
        socket.emit('conectar_sala', '{"sala":"{{ sala }}", "usuario":"{{ current_user.nombre }}"}')
        document.getElementById('btn-enviar-{{ sala }}').onclick = () => {
            const mensaje = document.getElementById('txt-mensaje-{{ sala }}').value
            socket.emit("mensaje_nuevo_{% if sala.startswith('priv') %}priv{% else %}sala{% endif %}",
                JSON.stringify({
                    mensaje: mensaje,
                    sala: '{{ sala }}',
                    usuario: '{{ current_user.nombre }}'
                }))
            document.getElementById('txt-mensaje-{{ sala }}').value = ''
        }

        document.getElementById('txt-mensaje-{{ sala }}').onkeydown = (e) => {
            if (e.key === 'Enter') {
                document.getElementById('btn-enviar-{{ sala }}').click()
            }
        }

        socket.on('mensaje_nuevo', (mensaje) => {
            console.log('Nuevo mensaje', mensaje)
            const li = document.createElement('li')
            li.innerText = mensaje.fecha_bonita + ' - ' + mensaje.usuario + ': ' + mensaje.mensaje
            document.getElementById('lista-mensajes-{{ sala }}').append(li)
        })
    })
</script>

{% endmacro %}