<link rel="stylesheet" href="{{ url_for('.static', filename='movil/movil.css') }}">
<div class="movil">
    <div class="parte-superior">
        <img src="{{ url_for('.static', filename='movil/img/clave-sol.svg') }}" alt="Clave de Sol">
        <div class="altavoz"></div>
        <div class="camara-frontal"></div>
    </div>
    <div class="pantalla">
        {% for app in movil_apps %}
        <a class="app" href="{{ url_for(app['url']) }}">
            <img loading="lazy" src="{{ url_for('.static', filename='movil/iconos/' + app['id'] + '.webp') }}"
                alt="{{ app['nombre'] }}">
            <span>{{ app['nombre'] }}</span>
        </a>
        {% endfor %}

    </div>
    <div class="parte-inferior">
        <img src="{{ url_for('.static', filename='movil/img/corchea.svg') }}" alt="Corchea">
        <button class="boton-cuadrado">
            <span class="boton-diamante"></span>
        </button>
        <img src="{{ url_for('.static', filename='movil/img/semicorchea.svg') }}" alt="Semicorchea">
    </div>
</div>