{% extends 'base.html' %}

{% block title %}Sala {{ nombre_sala }}{% endblock %}

{% block main %}
<main class="grid h-[100vh] grid-cols-middle-5 place-items-stretch">
    <!-- Lista de usuarios conectados -->
    <section>
        <h1>Usuarios conectados</h1>
        {% from 'macros/lista_usuarios_sala.html' import listaUsuariosSala with context %}
        {{ listaUsuariosSala(usuarios=usuarios_sala, sala=sala) }}
    </section>
    <!-- Parte principal (chat y opciones) -->
    <section>
        <div class="flex justify-center items-center gap-10">
            <h1>{{ nombre_sala }}</h1>
            <button>...</button>
        </div>
        <div id="chat-sala">
            {% from 'macros/chat.html' import salaChat with context %}
            {{ salaChat(sala=sala, mensajes=mensajes) }}
        </div>
        <div id="opciones-sala">
        </div>
    </section>
    <!-- IU de estado y móvil -->
    <section class="grid grid-rows-1fr-auto">
        <!-- Progreso -->
        <section>
            <h1>Progreso</h1>
        </section>
        <!-- Móvil -->
        <section>
            {% include 'movil.inc.html' %}
        </section>
    </section>
</main>
{% endblock %}