<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alfea Online - {{ nombre_sala }}</title>
    <link rel="stylesheet" href="/salas/static/sala.css">
</head>
<body>
<main>
    <!-- Lista de usuarios conectados -->
    <section>
        <h1>Usuarios conectados</h1>
    </section>
    <!-- Parte principal (chat y opciones) -->
    <section>
        <h1>{{ nombre_sala }}</h1>
    </section>
    <!-- IU de estado y móvil -->
    <section class="ui-estado">
        <!-- Progreso -->
        <section>
            <h1>Progreso</h1>
        </section>
        <!-- Móvil -->
        <section>
            <h1>Móvil</h1>
        </section>
    </section>
</main>
</body>
</html>