{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block main %}
    <form method="POST" action="/">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Inicia sesión</legend>
            {{ form.nombre.label }} {{ form.nombre }}
            {{ form.password.label }} {{ form.password }}
            {{ form.submit }}
        </fieldset>
    </form>
    <section>
        <h2>Regístrate en Alfea Online y explora la dimensión de Magix</h2>
        <a href="{{ url_for('usuarios.registro') }}">Regístrate</a>
    </section>
    <section>
        <p>Alfea Online es un MMORPG no lineal en el que tú construyes tu propia historia.</p>
        <p>Tu decides, hada, mago/a, especialista o bruja. ¿Ayudas a las Winx o a Valtor? ¿Prefieres ir por libre y
            matar a todos? ¿Solo chatear?</p>
    </section>
{% endblock %}