{% macro cardInCombatParticipant(participant) %}
<div class="flex border rounded">
    <img alt="algun dia">
    <div class="grid grid-cols-2">
        <span class="col-span-2 text-center">{{ participant.nombre }}</span>
        <div class="grid grid-cols-2">
            <span>Vida</span>
            <span vida-usuario="{{ participant.nombre }}">{{ participant.vida }}</span>
        </div>
        <progress vida-usuario="{{ participant.nombre }}" class="rounded h-2" min="0"
            max="{{ participant.combat_stats.vida_maxima }}" value="{{ participant.vida }}"></progress>
        <div class="grid grid-cols-2">
            <span>Maná</span>
            <span mana-usuario="{{ participant.nombre }}">{{ participant.mana }}</span>
        </div>
        <progress mana-usuario="{{ participant.nombre }}" class="rounded h-2" type="range" min="0"
            max="{{ participant.combat_stats.mana_maximo }}" value="{{ participant.mana }}"></progress>
    </div>
</div>
{% endmacro%}