{% macro cardLobby(datos) %}
<div class="grid grid-cols-2 gap-1 place-items-stretch text-right border-2 rounded p-2">
    <span class="col-span-2 text-center">{{ datos['nombre'] }}</span>
    <span>Vida máxima - {{ datos['vida_maxima'] }}</span>
    <input type="range" min="0" max="1000" value="{{ datos['vida_maxima'] }}" disabled>
    <span>Maná máximo - {{ datos['mana_maximo'] }}</span>
    <input type="range" min="0" max="1000" value="{{ datos['mana_maximo'] }}" disabled>
    <span>Poder físico - {{ datos['poder_fisico'] }}</span>
    <input type="range" min="0" max="1000" value="{{ datos['poder_fisico'] }}" disabled>
    <span>Poder mágico - {{ datos['poder_magico'] }}</span>
    <input type="range" min="0" max="1000" value="{{ datos['poder_magico'] }}" disabled>
    <span>Resistencia física - {{ datos['resistencia_fisica'] }}</span>
    <input type="range" min="0" max="1000" value="{{ datos['resistencia_fisica'] }}" disabled>
    <span>Resistencia mágica - {{ datos['resistencia_magica'] }}</span>
    <input type="range" min="0" max="1000" value="{{ datos['resistencia_magica'] }}" disabled>
</div>
{% endmacro %}