<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alfea Online Wiki - {% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.webp') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='output.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wiki.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/fonts.css') }}">
</head>

<body class="bg-gradient-winx1 bg-no-repeat bg-fixed grid lg:grid-cols-12 md:gap-5">
    <nav class="bg-white bg-opacity-65 p-4 lg:col-span-2">
        <ul class="pl-5 grid justify-items-stretch gap-2 text-center">
            {% for pag in [('Inicio', 'index'), ('Estadísticas de combate', 'estadisticas_combate'), ('Experiencia',
            'experiencia'), ('Moneda', 'moneda'), ('Móvil', 'movil')] %}
            <li><a class="block bg-white w-full h-full rounded p-1 bg-opacity-40 hover:bg-opacity-60"
                    href="{{ url_for('wiki.' + pag[1]) }}">{{ pag[0] }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <main class="p-4 text-justify bg-white bg-opacity-65 lg:col-span-8 [&_h2]:text-2xl [&_h2]:font-bold">
        <h1 class="text-6xl text-center font-winx drop-shadow-title text-wpink-500 leading-loose">{% block pageTitle
            %}{% endblock
            pageTitle
            %}</h1>
        {% block main %}{% endblock %}
    </main>
    <aside class="lg:col-span-2">
    </aside>
</body>

</html>