{% extends 'base.html' %}
{% from 'macros/card_incombatparticipant.html' import cardInCombatParticipant with context %}

{% block title %}Combate{% endblock %}

{% block main %}

<!-- Chat -->
<section>

</section>

<!-- Parte de combate -->
<section>
    <h1>Título</h1>

    <!-- Listas de usuarios -->
    <div class="grid grid-cols-2">
        <!-- Lista de usuarios héroes -->
        <div class="flex flex-col gap-2">
            {% for usuario in heroes %}
            {{ cardInCombatParticipant(usuario) }}
            {% endfor %}
        </div>
        <!-- Lista de usuarios villanos -->
        <div class="flex flex-col gap-2">
            {% for usuario in villanos %}
            {{ cardInCombatParticipant(usuario) }}
            {% endfor %}
        </div>
    </div>

    <!-- Menú de selección de ataques -->
    <div class="flex flex-wrap justify-around gap-2">
        {% from 'macros/card_ataque.html' import cardAtaque with context %}
        {% for ataque in ataques %}
        <!-- Llamada al macro cardAtaque -->
        {{ cardAtaque(ataque) }}
        {% endfor %}
    </div>

</section>

{% endblock %}