{% extends 'base.html' %}
{% from 'macros/card_lobby.html' import cardLobby with context %}

{% block title %}Lobby de combate{% endblock %}

{% block main %}

<!-- Chat -->
<section>

</section>

<!-- Contenido principal -->
<section class="grid grid-cols-2 text-center gap-2 place-items-center">

    <section class="col-span-2">
        <h1>{{ datos_sala["nombre_sala"] }}</h1>
    </section>

    <!-- Heroes -->
    <section class="w-[33vw]">
        <h1>Heroes ({{ n_heroes }})</h1>
        {% if puede_unirse %}
        <button class="bg-blue-200 w-full hover:bg-blue-400" unirse-bando="heroes">Unirse</button>
        {% endif %}
        <div class="flex flex-col gap-2 overflow-auto h-[80vh]">
            {% for heroe in heroes %}
            {{ cardLobby(heroe) }}
            {% endfor %}
        </div>
    </section>

    <!-- Villanos -->
    <section class="w-[33vw]">
        <h1>Villanos ({{ n_villanos }})</h1>
        {% if puede_unirse %}
        <button class="bg-blue-200 w-full hover:bg-blue-400" unirse-bando="villanos">Unirse</button>
        {% endif %}
        <div class="flex flex-col gap-2 overflow-auto h-[80vh]">
            {% for villano in villanos %}
            {{ cardLobby(villano) }}
            {% endfor %}
        </div>
    </section>

    <button class="col-span-2 p-2 bg-red-200 w-full hover:bg-red-400">Iniciar combate</button>
</section>

<script type="module">
    import { io } from '/static/socket.io.esm.min.js'

    const socket = io('/lobby_combate')

    socket.on('actualizar_lobby_{{ id_raid }}', (data) => {
        console.log(data)
        window.location.reload()
    })

    function unirseBando(bando) {
        socket.emit('unirse_bando', {
            id_raid: '{{ id_raid }}',
            bando: bando,
            usuario: '{{ current_user.nombre }}'
        })
    }

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('[unirse-bando]').forEach((element) => {
            element.onclick = () => {
                unirseBando(element.getAttribute('unirse-bando'))
                console.log('Unirse a bando', element.getAttribute('unirse-bando'))
            }
        })
    })

</script>

{% endblock %}