{% extends 'base.html' %}

{% block title %}Lobby de combate{% endblock %}

{% block main %}

    <!-- Chat -->
    <section>

    </section>

    <!-- Contenido principal -->
    <section>

        <section><h1>{{ datos_sala["nombre_sala"] }}</h1></section>

        <!-- Heroes -->
        <section>
            {% from 'macros/card_lobby.html' import cardLobby with context %}
            <ul>
                {% for heroe in heroes %}
                    {{ cardLobby(heroe) }}
                {% endfor %}
            </ul>
        </section>

        <!-- Villanos -->
        <section>
            <ul>
                {% for villano in villanos %}
                    {{ cardLobby(villano) }}
                {% endfor %}
            </ul>
        </section>

    </section>

{% endblock %}