{% extends 'base.html' %}

{% block title %}Raids{% endblock %}

{% block main %}

<main>
    <h1 class="text-center text-6xl drop-shadow-title font-winx text-wpink-500 leading-loose">Raids</h1>
    <p class="text-center bg-white bg-opacity-60 rounded p-3 m-5">Los raids son misiones que puedes realizar en grupo
        con otros jugadores. Cada raid tiene un coste de 5
        <img src="{{ url_for('static', filename='img/moneda.svg') }}" class="w-5 inline" title="Monedas" alt="Monedas">
        y tienes actualmente {{ current_user.monedas }} <img src="{{ url_for('static', filename='img/moneda.svg') }}"
            class="w-5 inline" title="Monedas" alt="Monedas">.
    </p>

    <section class="flex flex-wrap gap-4 p-5">
        {% for id, raid in raids.items() %}
        <article onclick="window.location.href='{{ url_for('combate.lobby_raid', id_raid=id) }}'"
            class="bg-white bg-opacity-60 text-center text-wrap p-3 grid grid-cols-[1fr_auto_1fr] gap-4 items-center cursor-pointer">
            <span class="col-span-3 text-lg">{{ raid['nombre'] }}</span>
            <ul class="flex flex-col">
                {% for heroe in raid['heroes'] %}
                <li>{{ heroe.nombre }}</li>
                {% endfor %}
            </ul>
            <span class="italic text-lg">vs</span>
            <ul class="flex flex-col">
                {% for villano in raid['villanos'] %}
                <li>{{ villano.nombre }}</li>
                {% endfor %}
            </ul>
        </article>
        {% endfor %}
    </section>
</main>

{% endblock %}