{% extends "base.html" %}
{% from 'macros/card_ataque.html' import cardAtaque with context %}

{% block title %}Recompensas{% endblock %}

{% block main %}
<main class="text-gray-900">
    <div class="flex justify-center items-center gap-5 flex-wrap">
        <a href="{{ url_for('usuarios.index') }}"><img class="w-24"
                src="{{ url_for('static', filename='img/magicarrow.webp') }}" alt="Atrás" title="Atrás"></a>
        <h1 class="text-center text-6xl drop-shadow-title font-winx text-wpink-500 leading-loose">Recompensas</h1>
    </div>
    <a href="{{ url_for('recompensas.reclamar') }}" class="mx-auto block w-96 p-5 text-xl text-center text-white font-bold bg-wpink-500 hover:bg-wpink-100 mt-3
    duration-300">Reclamar todas</a>
    <div class="max-w-4xl mx-auto gap-5 flex flex-row flex-wrap justify-center mt-5">
        {% for recompensa in recompensas %}
        <div
            class="bg-green-200 ring-2 ring-green-400 bg-opacity-80 p-2 grid grid-cols-2 gap-2 p-5 justify-items-center items-center">
            <span class="w-full text-right">{{ recompensa.experiencia }}</span>
            <img class="size-8" src="{{ url_for('static', filename='img/experiencia.svg') }}" alt="Experiencia"
                title="Experiencia">
            <span class="w-full text-right">{{ recompensa.monedas }}</span>
            <img class="size-8" src="{{ url_for('static', filename='img/moneda.svg') }}" alt="Rubís de Magix"
                title="Rubís de Magix">
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}