<span class="text-2xl text-wrap bg-[#cfc93a] border-dashed border-[#cfc93a] border-2 w-full bg-opacity-60">{{
    current_user.nombre }}</span>
<img class="w-32 h-32 border-dashed border-[#cfc93a] border-2 p-1 bg-[#cfc93a] bg-opacity-60"
    src="{{ url_for('perfil.foto_perfil', nombre=current_user.nombre) }}" alt="{{ current_user.nombre }}"
    title="{{ current_user.nombre }}">
{{ current_user.titulo_nobiliario }}
<table class="table-auto [&_td]:p-2">
    <tbody class="border-dashed border-[#cfc93a] border-2 bg-[#cfc93a] bg-opacity-60">
        <tr>
            <td>{{ current_user.experiencia }}</td>
            <td><img class="w-8 h-8" src="{{ url_for('static', filename='img/experiencia.svg') }}" alt="Experiencia"
                    title="Experiencia">
            </td>
        </tr>
        <tr>
            <td>{{ current_user.monedas }}</td>
            <td><img class="w-8 h-8" src="{{ url_for('static', filename='img/moneda.svg') }}" alt="Monedas"
                    title="Monedas">
            </td>
        </tr>
    </tbody>
</table>