{% extends "base.html" %}
{% from 'macros/card_ataque.html' import cardAtaque with context %}

{% block title %}Inventario{% endblock %}

{% block main %}
<main class="text-gray-900 text-center">
    <div class="flex justify-center items-center gap-5 flex-wrap">
        <a href="{{ url_for('usuarios.index') }}"><img class="w-24"
                src="{{ url_for('static', filename='img/magicarrow.webp') }}" alt="Atrás" title="Atrás"></a>
        <h1 class="text-center text-6xl drop-shadow-title font-winx text-wpink-500 leading-loose">Inventario de ataques
        </h1>
    </div>
    <p class="bg-white bg-opacity-60 px-5 py-3 mx-5">Arrastra los ataques entre las columnas o pulsa los botones
        para
        equiparlos y desequiparlos.</p>
    <p class="bg-red-600 text-gray-100 bg-opacity-60 px-5 py-3 mx-5 mt-2 hidden" id="caja_errores"></p>
    <div class="grid grid-cols-2">
        <!-- Ataques no equipados -->
        <section dropzone="move" class="my-5 ml-5 mr-2">
            <p class="bg-white bg-opacity-60 px-5 py-3 mb-3">Arrastra los ataques a la columna de la derecha para
                equiparlos</p>
            <div class="flex flex-wrap gap-5 bg-white bg-opacity-60 px-5 py-3 justify-around" id="columna_desequipados">
                {% for ataque in ataques_no_equipados %}
                <article desequipado-ataque-id="{{ ataque.id }}" class="flex flex-col justify-stretch" draggable="true">
                    {{ cardAtaque(ataque) }}
                    <button equipar-ataque-id="{{ ataque.id }}"
                        class="{% if ataque.lanzamiento == 'convergencia' %}bg-lime-300{% else %}bg-yellow-300{% endif %} bg-opacity-70 py-2">Equipar</button>
                </article>
                {% endfor %}
            </div>
        </section>
        <!-- Ataques equipados -->
        <section dropzone="move" class="my-5 mr-5 ml-2">
            <p class="bg-white bg-opacity-60 px-5 py-3 mb-3">Solo puedes tener 5 ataques equipados</p>
            <div class="flex flex-wrap gap-5 bg-white bg-opacity-60 px-5 py-3 justify-around" id="columna_equipados">
                {% for ataque in ataques_equipados %}
                <article equipado-ataque-id="{{ ataque.id }}" class="flex flex-col justify-stretch" draggable="true">
                    {{ cardAtaque(ataque) }}
                    <button desequipar-ataque-id="{{ ataque.id }}"
                        class="{% if ataque.lanzamiento == 'convergencia' %}bg-lime-300{% else %}bg-yellow-300{% endif %} bg-opacity-70 py-2">Desquipar</button>
                </article>
                {% endfor %}
            </div>
        </section>
    </div>
</main>
<script type="module" src="{{ url_for('.static', filename='js/inventario.mjs') }}"></script>
{% endblock %}