{% extends "base_wiki.html" %}

{% block title %}Estadísticas de combate{% endblock %}

{% block pageTitle %}Estadísticas de combate{% endblock pageTitle %}

{% block main %}

<p>En este artículo se explican los símbolos utilizados para describir las estadísticas de combate.</p>

<h2 class="mt-5">Vida</h2>
<p>La vida de los usuarios se representa con una mariposa azul, como en el hechizo "Fuerza de la vida" utilizado por
    Bloom en su transformación Believix en la 4ª temporada para curar personas y hacer que vuelvan a creer en la magia y
    las hadas. <img src="{{ url_for('static', filename='img/estadisticas-combate/vida.svg') }}" alt="Vida" title="Vida"
        class="h-32"></p>
<div class="grid md:grid-cols-2 gap-2">
    <img src="{{ url_for('wiki.static', filename='img/estadisticas-combate/vida.webp') }}"
        alt="Bloom, hada del fuego del dragón, con su mariposa azul">
    <img src="{{ url_for('wiki.static', filename='img/estadisticas-combate/vida-roxy.webp') }}"
        alt="Bloom, hada del fuego del dragón, cura a Roxy tras ser atacada por los Hechiceros del Círculo Negro">
</div>

<h2 class="mt-5">Maná</h2>
<p>El ataque mágico se representa por una bola de Sparx. El Sparx es el elemento que se muestra por primera vez
    en la temporada 8, es la fuente de los poderes mágicos de las hadas y las brujas y del universo mágico en si
    mismo. El Sparx es también uno de los principales componentes de la Llama del Dragón.<img
        src="{{ url_for('static', filename='img/estadisticas-combate/mana.svg') }}" class="h-32" title="Ataque mágico"
        alt="Ataque mágico"></p>
<p>Las directoras Griffin y Faragonda pueden crear bolas de Sparx combinando sus poderes.</p>
<img src="{{ url_for('wiki.static', filename='img/estadisticas-combate/mana.webp') }}"
    alt="Las directoras Griffin y Faragonda muestran una bola de Sparx" class="w-128">

<h2 class="mt-5">Ataque físico</h2>
<p>El ataque físico se representa por la espada de Brandon</p>
<div class="grid gap-2 md:grid-cols-2 place-items-center">
    <img src="{{ url_for('static', filename='img/estadisticas-combate/ataque-fisico.svg') }}" title="Ataque físico"
        alt="Ataque físico" class="h-32">
    <img src="{{ url_for('wiki.static', filename='img/estadisticas-combate/ataque-fisico.webp') }}"
        alt="Brandon, el especialista, blandiendo su larga y gruesa espada verde" class="w-96">
</div>

<h2 class="mt-5">Defensa física</h2>
<p>La defensa física se representa por el escudo de Sky</p>
<div class="grid gap-2 md:grid-cols-2 place-items-center">
    <img src="{{ url_for('wiki.static', filename='img/estadisticas-combate/defensa-fisica.webp') }}"
        alt="Sky, el especialista, con su escudo azul" class="w-96">
    <img src="{{ url_for('static', filename='img/estadisticas-combate/defensa-fisica.svg') }}" title="Defensa física"
        alt="Defensa física" class="h-32">
</div>

<h2 class="mt-5">Ataque mágico</h2>
<p>El ataque mágico se representa por el cetro de Estela, que lo utiliza únicamente hasta que consigue la transformación
    Charmix. Este cetro es el Anillo de Solaria, que tiene tanto su forma de cetro utilizada para el combate, como una
    de anillo y toma una forma que se adecua a su portador. Se utiliza la versión de Estela, pero en la serie aparece
    también la forma de Quimera, cuando esta roba el anillo.<img
        src="{{ url_for('static', filename='img/estadisticas-combate/ataque-magico.svg') }}" class="h-32"
        title="Ataque mágico" alt="Ataque mágico"></p>
<div class="grid md:grid-cols-2 gap-2">
    <img src="{{ url_for('wiki.static', filename='img/estadisticas-combate/ataque-magico1.webp') }}"
        alt="El Anillo de Solaria">
    <img src="{{ url_for('wiki.static', filename='img/estadisticas-combate/ataque-magico2.webp') }}"
        alt="Estela sujetando el Anillo de Solaria en su forma de cetro">
</div>

<h2 class="mt-5">Defensa mágica</h2>
<p>La defensa mágica se representa como una estrella, ya que, dada la gran variedad de escudos mágicos y
    hechizos defensivos utilizados en la serie es difícil escoger uno que los represente a todos. Sin embargo,
    como tanto Bloom como Estela utilizan escudos con forma de estrella se escogió ese como tal.</p>
<p>Estas son las referencias utilizadas de la primera, quinta y octava temporadas. </p>
<div class="grid gap-2 lg:grid-cols-3">
    <img src="{{ url_for('wiki.static', filename='img/estadisticas-combate/defensa-magica/1.webp') }}"
        alt="Bloom, hada del fuego del dragón, con su escudo de estrella, temporada 1">
    <img src="{{ url_for('wiki.static', filename='img/estadisticas-combate/defensa-magica/2.webp') }}"
        alt="Estela, hada del sol brillante, con su escudo de estrella, temporada 5">
    <img src="{{ url_for('wiki.static', filename='img/estadisticas-combate/defensa-magica/3.webp') }}"
        alt="Estela, hada del sol brillante, con su escudo de estrella, temporada 8">
</div>
{% endblock %}