{% extends "base_wiki.html" %}

{% block title %}Experiencia{% endblock %}

{% block pageTitle %}Experiencia{% endblock pageTitle %}

{% block main %}

<p>La experiencia representa el progreso conseguido para subir de nivel. Se asocia con el siguiente símbolo:</p>
<img src="{{ url_for('static', filename='img/experiencia.svg') }}" title="Experiencia" alt="Experiencia" class="w-32">
<p>Se corresponde con el Legendarium, el libro poseido por Eldora, el hada guardiana de la Biblioteca de Alejandría. En
    la temporada 6 las Winx viajan a dentro del libro en sus misiones.</p>
<p>Se escogió este símbolo para representar la experiencia porque es prueba de tus legendarias aventuras vividas en el
    mundo de Alfea Online.</p>

{% endblock %}