{% extends "base.html" %}

{% block title %}Experiencia{% endblock %}


{% block main %}
<main class="text-gray-900 flex flex-col items-center gap-5">
    <section>
        <h1 class="text-center text-6xl drop-shadow-title font-winx text-wpink-500 leading-loose">Adquirir nuevas
            habilidades</h1>
        <p class="p-2 bg-white bg-opacity-50">Puedes gastar tus puntos de experiencia para mejorar tus estadísticas y
            adquirir nuevos ataques.</p>
    </section>
    <!-- Puntos disponibles -->
    <section class="p-2 bg-white bg-opacity-50 text-xl">
        <p>Puntos disponibles: <span id="puntos_disponibles">{{ current_user.experiencia }} </span></p>
    </section>

    <!-- Mejorar estadísticas -->
    <table
        class="[&_td]:p-2 [&_td]:bg-white [&_td]:bg-opacity-50 table-auto border-separate border-spacing-y-1 text-center">
        <thead>
            <tr>
                <td><label for="vida_maxima">Vida máxima</label></td>
                <td><img src="{{ url_for('static', filename='img/estadisticas-combate/vida.svg') }}" class="w-12 h-12"
                        alt="Vida máxima" title="Vida máxima"></td>
                <td><input id="vida_maxima" type="range" min="{{ combat_stats.vida_maxima }}"
                        value="{{ combat_stats.vida_maxima }}" autocomplete="off"
                        max="{{ current_user.experiencia + combat_stats.vida_maxima }}"></td>
                <td><span id="valor_vida_maxima">{{ combat_stats.vida_maxima }}</span></td>
            </tr>

            <tr>
                <td><label for="mana_maximo">Maná máximo</label></td>
                <td><img src="{{ url_for('static', filename='img/estadisticas-combate/mana.svg') }}" class="w-12 h-12"
                        alt="Maná máximo" title="Maná máximo"></td>
                <td><input id="mana_maximo" type="range" min="{{ combat_stats.mana_maximo }}"
                        value="{{ combat_stats.mana_maximo }}" autocomplete="off"
                        max="{{ current_user.experiencia + combat_stats.mana_maximo }}"></td>
                <td><span id="valor_mana_maximo">{{ combat_stats.mana_maximo }}</span></td>
            </tr>

            <tr>
                <td><label for="poder_fisico">Poder físico</label></td>
                <td><img src="{{ url_for('static', filename='img/estadisticas-combate/ataque-fisico.svg') }}"
                        class="w-12 h-12" alt="Poder físico" title="Poder físico"></td>
                <td><input id="poder_fisico" type="range" min="{{ combat_stats.poder_fisico }}"
                        value="{{ combat_stats.poder_fisico }}" autocomplete="off"
                        max="{{ current_user.experiencia + combat_stats.poder_fisico }}"></td>
                <td><span id="valor_poder_fisico">{{ combat_stats.poder_fisico }}</span></td>
            </tr>

            <tr>
                <td><label for="poder_magico">Poder mágico</label></td>
                <td><img src="{{ url_for('static', filename='img/estadisticas-combate/ataque-magico.svg') }}"
                        class="w-12 h-12" alt="Poder mágico" title="Poder mágico"></td>
                <td><input id="poder_magico" type="range" min="{{ combat_stats.poder_magico }}"
                        value="{{ combat_stats.poder_magico }}" autocomplete="off"
                        max="{{ current_user.experiencia + combat_stats.poder_magico }}"></td>
                <td><span id="valor_poder_magico">{{ combat_stats.poder_magico }}</span></td>
            </tr>

            <tr>
                <td><label for="resistencia_fisica">Resistencia física</label></td>
                <td><img src="{{ url_for('static', filename='img/estadisticas-combate/defensa-fisica.svg') }}"
                        class="w-12 h-12" alt="Resistencia física" title="Resistencia física"></td>
                <td><input id="resistencia_fisica" type="range" min="{{ combat_stats.resistencia_fisica }}"
                        value="{{ combat_stats.resistencia_fisica }}" autocomplete="off"
                        max="{{ current_user.experiencia + combat_stats.resistencia_fisica }}"></td>
                <td><span id="valor_resistencia_fisica">{{ combat_stats.resistencia_fisica }}</span></td>
            </tr>

            <tr>
                <td><label for="resistencia_magica">Resistencia mágica</label></td>
                <td><img src="{{ url_for('static', filename='img/estadisticas-combate/defensa-magica.svg') }}"
                        class="w-12 h-12" alt="Resistencia mágica" title="Resistencia mágica"></td>
                <td><input id="resistencia_magica" type="range" min="{{ combat_stats.resistencia_magica }}"
                        value="{{ combat_stats.resistencia_magica }}" autocomplete="off"
                        max="{{ current_user.experiencia + combat_stats.resistencia_magica }}"></td>
                <td><span id="valor_resistencia_magica">{{ combat_stats.resistencia_magica }}</span></td>
            </tr>

            <tr>
                <td><label for="velocidad">Velocidad</label></td>
                <td><img src="" alt="Velocidad" title="Velocidad">Velocidad</td>
                <td><input id="velocidad" type="range" min="{{ combat_stats.velocidad }}"
                        value="{{ combat_stats.velocidad }}" autocomplete="off"
                        max="{{ current_user.experiencia + combat_stats.velocidad }}"></td>
                <td><span id="valor_velocidad">{{ combat_stats.velocidad }}</span></td>
            </tr>
        </thead>
    </table>
    <button id="btn-guardar" class="bg-wpink-100 hover:bg-wpink-500 py-3 px-32 text-xl">Guardar</button>
</main>

<script type="module">
    /** @type { Record<string, HTMLInputElement> } */
    const ranges = {
        'vida_maxima': document.getElementById('vida_maxima'),
        'mana_maximo': document.getElementById('mana_maximo'),
        'poder_fisico': document.getElementById('poder_fisico'),
        'poder_magico': document.getElementById('poder_magico'),
        'resistencia_fisica': document.getElementById('resistencia_fisica'),
        'resistencia_magica': document.getElementById('resistencia_magica'),
        'velocidad': document.getElementById('velocidad')
    }

    /** @type { Record<string, HTMLSpanElement> } */
    const valoresRanges = {
        'vida_maxima': document.getElementById('valor_vida_maxima'),
        'mana_maximo': document.getElementById('valor_mana_maximo'),
        'poder_fisico': document.getElementById('valor_poder_fisico'),
        'poder_magico': document.getElementById('valor_poder_magico'),
        'resistencia_fisica': document.getElementById('valor_resistencia_fisica'),
        'resistencia_magica': document.getElementById('valor_resistencia_magica'),
        'velocidad': document.getElementById('valor_velocidad')
    }

    function getSumaRanges() {
        let suma = 0
        for (const [key, range] of Object.entries(ranges)) {
            suma += range.valueAsNumber - parseInt(range.min)
        }
        return suma
    }

    const PUNTOS_TOTALES_EXPERIENCIA = {{ current_user.experiencia }}
    const puntos_disponibles = document.getElementById('puntos_disponibles')

    function setPuntosDisponibles(puntos) {
        puntos_disponibles.innerText = puntos
    }

    function getPuntosDisponibles() {
        return parseInt(puntos_disponibles.innerText)
    }

    for (const [key, range] of Object.entries(ranges)) {
        range.addEventListener('input', () => {
            valoresRanges[key].innerText = range.value
        })
        range.addEventListener('change', () => {
            if (getSumaRanges() > PUNTOS_TOTALES_EXPERIENCIA) {
                range.value = (getPuntosDisponibles() + parseInt(range.min)).toString()
            }
            puntos_disponibles.innerText = PUNTOS_TOTALES_EXPERIENCIA - getSumaRanges()
            valoresRanges[key].innerText = range.value
            console.log(key, range.value)
        })
    }

    document.getElementById('btn-guardar').onclick = () => guardarEstadisticas()
    function guardarEstadisticas() {
        fetch("{{ url_for('tienda.mejorar_estadisticas_post') }}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                vida_maxima: ranges.vida_maxima.value,
                mana_maximo: ranges.mana_maximo.value,
                poder_fisico: ranges.poder_fisico.value,
                poder_magico: ranges.poder_magico.value,
                resistencia_fisica: ranges.resistencia_fisica.value,
                resistencia_magica: ranges.resistencia_magica.value,
                velocidad: ranges.velocidad.value
            })
        })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                window.location.reload()
            })
            .catch(error => {
                console.error('Error:', error)
            })
    }
</script>
{% endblock %}