{% extends "base.html" %}
{% from 'macros/card_ataque.html' import cardAtaque with context %}

{% block title %}Tienda de ataques{% endblock %}

{% block main %}
<main class="text-gray-800">
    <h1 class="text-center text-6xl drop-shadow-title font-winx text-wpink-500 p-8">Tienda de ataques</h1>
    <div class="p-2 bg-white bg-opacity-60 mx-10 my-3 text-center"><span id="monedas">{{ current_user.monedas
            }}</span><img src="{{ url_for('static', filename='img/moneda.svg') }}" alt="Monedas" title="Monedas"
            class="w-8 h-8 inline-block">
    </div>
    <section class="flex flex-wrap gap-5 mx-10 my-5 p-5 bg-white bg-opacity-60">
        {% for x in ataques %}
        <article ataque-id-compra="{{ x['ataque'].id }}" class="flex flex-col justify-stretch">
            {{ cardAtaque(x['ataque']) }}
            <span
                class="text-center text-sm font-bold pb-3 {% if x['ataque'].lanzamiento == 'convergencia' %}bg-lime-400{% else %}bg-yellow-400{% endif %} bg-opacity-70">{{
                x['precio'] }}<img src="{{ url_for('static', filename='img/moneda.svg') }}" alt="Monedas"
                    title="Monedas" class="w-8 h-8 inline-block"></span>
        </article>
        {% endfor %}
    </section>
</main>
<script type="module">
    for (const card of document.querySelectorAll('[ataque-id-compra]')) {
        card.addEventListener('click', (e) => {
            if (e.target.getAttribute('interaccion-ataque') === 'no') return;
            const id = card.getAttribute('ataque-id-compra');
            fetch(`{{ url_for('tienda.tienda_ataques_post') }}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    ataque_id: id
                })
            }).then(async (response) => {
                if (response.ok) {
                    const resp = await response.json()
                    console.log(resp)
                    if (resp.error) {
                        alert(resp.error)
                        return
                    }
                    document.getElementById('monedas').innerText = resp.monedas.toString()
                    card.remove()
                } else {
                    alert('Ha habido un error al comprar el ataque')
                }
            });
        });
    }
</script>
{% endblock %}